/* Global */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color:#D9D9D9;  */
}

/* Herader  */
.header-bg{
    background-color: #C8C8C8;
    box-shadow: 0 0 15px rgb(78, 78, 78);
    z-index: 10;
    position: relative;
}
.btnLogin{
    background-color: #312783;
    padding: .5rem 1rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.375);
    transition:  box-shadow .2s ease-in-out;
}
.btnLogin:hover{
    box-shadow: none;
}
/* Colors */
.colorsBG{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    padding: .5rem;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    width: 210px;
    padding: .5rem 0;
    border-radius: 7px 7px 0 0;
}

.selected{
    box-shadow: 0 0 10px black;
    height: 20px;
}

/* APP */
.colorsAndMore{
    display:flex;
    flex-direction:column;
    width: 210px;
    height:561px;
    background-color: white;
    border-radius: 7px;
    margin-right:1rem;
}

.bxsh{
    box-shadow:  0 0 1px black;
    margin: 0;
    padding: 0;
    height: 20px;
}
.input{
    height: 20px;
    margin: 0;
    padding: 0;
    width: 20px;
    border: none;
}

.app-bg{
    background-color:#D9D9D9; 
    z-index: 2;
    height:calc(100vh - 81px);
    
}
.canvas-bg{
    background-color: white;
    border-radius: 10px;
    cursor: url('/imgs/pencil.png'), auto;

}

.tools:hover{
    cursor:pointer;
    user-select: none;
}
.selectioned{
    box-shadow: 0 0 10px black;
}
/* Main Index */
.mainWrapper{
    height: calc(100vh - 81px);
    background-image: url("/imgs/MainBG.png");
    animation: MainBGIMG 200s infinite linear ;
}
.mainImg{
    box-shadow: 0 0 20px black;
    border-radius: 50%;
    height: 450px;
}
.btnMain{
    background-color:white ;
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.446);
}
.btnMain:hover{
    background-color: gray;
}
.longText{
    word-wrap: break-word; 
    max-width: 72ch;
}
@keyframes MainBGIMG {
    0%{
        background-position-x: 0px;
        background-position-y: 0px;
    }
    25%{
        background-position-x: 0px;
        background-position-y: 100%;
    }
    50%{
        background-position-x: 100%;
        background-position-y: 100%;
    }
    75%{
        background-position-x: 100%;
        background-position-y: 0px;
    }
    100%{
        background-position-x: 0px;
        background-position-y: 0px;
    }
}